<style>
hl{
  text-align: center;
  border-bottom: solid gray 1px;
  margin:0;
  padding:20px;
  
}
ol{
  border-right: solid gray;
  width:100px;
  padding:10px;
  margin:0px;
}
 #grid{
   display: grid;
   grid-template-columns: 150px 1fr;
 }
 #article{
   padding:20px
 }
 #active{
   color:red;
 }
 @media(max-width:800px){
   #grid{
     display: block;
   }
   ol{
     border-right:none;
   }
   h1{
     border-bottom: none;
   }
 }
</style>
